{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<section class="jumbotron">
<div class = "container">
    <div class="display-4">Invoice Manager</div>
    <p class="text-muted">
        Welcome!
        <hr>
        I make sending invoice easy.
    <p>I will keep track off all your invoice.
    </p>
    <div><a href="login" class="btn btn-primary">Login</a>
        <a href="login" class="btn btn-primary">Sign up</a>
    </div>
</div>

</section>


{% endblock %}